.committeeAvatarContainer {
  position: relative;
}

.committeeAvatar {
  clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
  position: absolute !important;
  bottom: 10px;
  left: 5px;
  object-fit: cover;
}

.committeeAvatarBg {
  clip-path: polygon(10% 5%, 75% 5%, 90% 95%, 25% 95%);
  position: relative;
  width: 100px;
  height: 100px;
  @apply bg-primary-600;
}
