/* Tailwindcss */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Font Family */

/* roboto-regular - latin */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local(""), url("./fonts/roboto-v30-latin-regular.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("./fonts/roboto-v30-latin-regular.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* roboto-500 - latin */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: local(""), url("./fonts/roboto-v30-latin-500.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("./fonts/roboto-v30-latin-500.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* roboto-700 - latin */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local(""), url("./fonts/roboto-v30-latin-700.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("./fonts/roboto-v30-latin-700.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* Structure */
@import "./custom/structure/_general.scss";
@import "./custom/structure/_topnav.scss";
@import "./custom/structure/_footer.scss";

/* Components */
@import "./custom/components/_buttons.scss";
@import "./custom/components/_breadcrumb.scss";
@import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css";
/* pages */
@import "./custom/pages/_helper.scss";
@import "./custom/pages/_hero.scss";
@import "./custom/pages/_testi.scss";
@import "./custom/pages/_contact.scss";
@import "./team.scss";
@import "./committee.scss";
@import "./jobs.scss";
@import "./products.scss";
@import "./index.scss";

/* icons */
@import "./icons/_materialdesignicons.css";

/* ************************************ */
input,
textarea,
button,
select,
a {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
