.bg-products {
  background-image: url("/assets/products/products-bg.jpeg");
}

.orthense-logo {
  background-image: url("/assets/products/orthense-logo.png");
}

.product-content {
  p {
    @apply mx-auto max-w-xl text-slate-500 dark:text-slate-300;
  }
  h1 {
    @apply mb-6 flex place-content-center items-center text-2xl font-medium leading-normal text-black dark:text-white md:text-3xl md:leading-normal;
  }
  h2 {
    @apply my-2 flex-1 text-lg font-medium;
  }
  h3 {
    @apply my-1 flex-1 font-medium;
  }
}

.productContainer {
  contain: layout;
}

.productCardBg {
  clip-path: polygon(10% 5%, 75% 5%, 90% 95%, 25% 95%);
  position: absolute;
  top: 30px;
  right: -70px;
  bottom: -50px;
  left: -100px;
  @apply bg-primary-50 dark:bg-primary-900/20;
}
