.bg-team {
  background-image: url("/assets/teams/team-bg.jpeg");
}

.employeeAvatarContainer {
  position: relative;
}

.employeeAvatar {
  clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
  position: absolute !important;
  bottom: 10px;
  left: 5px;
  object-fit: cover;
}

.employeeAvatarBg {
  clip-path: polygon(10% 5%, 75% 5%, 90% 95%, 25% 95%);
  position: relative;
  width: 100px;
  height: 100px;
  @apply bg-primary-600;
}

.teamDescImgContainer {
  contain: layout;
}

.teamDescImg {
  position: absolute;
  bottom: 10px;
  left: 5px;
}

.teamDescImgBg {
  clip-path: polygon(10% 5%, 75% 5%, 90% 95%, 25% 95%);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  @apply bg-primary-600;
}
